.card {
    border-radius: 2px;
    height: 350px;
    margin: 1rem;
    margin-top: 10px;
    position: relative;
    width: 350px;
    box-shadow: 0 3px 6px rgb(19, 18, 18), 0 3px 6px #999;
    overflow: hidden;
}
